[user]
	name = hwchiu
	email = hwchiu@cs.nctu.edu.tw
[core]
    editor = vim
    excludesfile = /Users/hwchiu/.gitignore_global
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	log = auto
[alias]
	br = branch
	st = status
	ch = checkout
	com = commit
	co = checkout
	df = diff
	la = log --graph --decorate --pretty=oneline --abbrev-commit --all
